.tab {
  display: flex;
}

.tab ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab-top {
  flex-direction: column;
}

.tab-top .tab__list {
  border-bottom: 1px solid #ccc;
}

.tab-top .tab__list .tab__item {
  display: inline-block;
  margin-bottom: -1px;
}

.tab-bottom .tab__list .tab__item {
  display: inline-block;
  margin-top: -1px;
}

.tab-top .tab__list .tab__item-active {
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  background: #fff;
}

.tab-bottom .tab__list .tab__item-active {
  border: solid #ccc;
  border-width: 0 1px 1px 1px;
  background: #fff;
}

.tab-bottom {
  flex-direction: column-reverse;
}

.tab-bottom .tab__list {
  border-top: 1px solid #ccc;
}

.tab-left {
}

.tab-left .tab__list {
  border-right: 1px solid #ccc;
}

.tab-left .tab__list .tab__item {
  margin-right: -1px;
}

.tab-left .tab__list .tab__item-active {
  border: solid #ccc;
  border-width: 1px 0 1px 1px;
  background: #fff;
}

.tab-right {
  flex-direction: row-reverse;
}

.tab-right .tab__list {
  border-left: 1px solid #ccc;
}

.tab-right .tab__list .tab__item {
  margin-left: -1px;
}

.tab-right .tab__list .tab__item-active {
  border: solid #ccc;
  border-width: 1px 1px 1px 0;
  background: #fff;
}

.tab__item-disable {
  opacity: 0.5;
}

.tab__item {
  padding: 8px 12px;
}


.tab__item img + .tab__item__title {
  padding-left: 10px;
}


.tab__panel {
  display: none;
}

.tab__panel-active {
  display: block;
}

.tab-accordion .tab__list {
  display: none;
}

.tab-accordion .tab__content {
  width: 100%;
}

.tab-accordion .tab__panel__container .tab__item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 1rem;
  position: relative;
}

.tab-accordion .tab__panel__container .tab__item::before {
  content: "";
  background: url("../../assets/arrow-down.png") no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transform: rotate(0deg);
}

.tab-accordion .tab__panel__container .tab__item-active::before {
  content: "";
  background: url("../../assets/arrow-down.png") no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.tab-accordion .tab__panel__container .tab__item-active {
  background: #444;
  color: #fff;
}

.tab-accordion .tab__panel__container .tab__panel {
  height: 0;
}
.tab-accordion .tab__panel__container .tab__panel.tab__panel-active {
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    height: 0;
    overflow: hidden;
  }
  to {
    height: 100px;
  }
}
